[Service]
ExecStart=sleep infinity
ProtectHome=yes
ProtectSystem=full
PrivateTmp=true
TemporaryFileSystem=/opt
ReadWriteDirectories=/etc/systemd/network
