[Unit]
Description=Testing python socket server
After=socket-activation-python.socket
Requires=socket-activation-python.socket


[Service]
WorkingDirectory=/opt/workshop
ExecStart=/usr/bin/python3 /usr/local/src/workshop/workshop/03-SOCKET_ACTIVATION/socket-server